
/* function area seprate */
.navigateArea{
    padding: 0;
    margin: 0;
    width: 15%;
    height: 100%;
    background-color: #ddd;
    /* box-shadow: 2px 0 5px 5px #ddd; */
    float:left;

}

.displayArea{
    padding: 0;
    margin: 0;
    width: 85%;
    height: 100%;
    float:left;
    /* background-color: rgb(0, 190, 181, 0.5); */

}


/* navbar area */
.navtitle{
    padding: 1%;
    margin: 1%;
    width: 100%;
    height: 30%;
    text-align: center;
}

.developer{
    border-radius: 50%;
    height: 40%;
    width:40%;
    margin-top:5%;
}

.develpoerFont{
    color: rgb(106, 153, 194);
    white-space: pre-wrap;
    width: 70%;
    /* background-color: aliceblue; */
    margin: 1% 0 0 15%;
    font-weight: 500;
}

.contact{
    text-align: center;
    font-size: small;
    border-top: rgb(255, 255, 255) solid 1px;
    width: 80%;
    margin: 5% 0 0 10%;
    padding: 4%;
    color: rgb(106, 153, 194);
}

.linkButton{
    background: transparent;
    border: none;
    color: rgb(106, 153, 194);
}

/* display area */
